# Python
*.pyc
*.pyo
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local
uv.lock

# VeighNa
.vntrader
.tradingagents/

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates
.plantuml-check/

# Misc
.DS_Store
*.mo

# Alpha
lab/
/.mypy_cache
